body {
    margin: 0 auto;
    padding: 0;
    background-color: #B5D2D6;
    font-family: lato !important;
}

.nav .right {
    padding-top: 20px !important;
}

.nav .right a {
    text-transform: none !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 110px;
    height: 38px;
    font-size: 17px;
    text-align: center;
    float:right;
}

.nav a {
    float: left;
}

.nav .logo {
    margin-top: -10px;
}

.nav .logoData {
    font-size: 16px;
    display: inline-block;
    margin-top: 26px;
    font-weight: bold;
}

.short-desc,
.details {
    text-align: center;
}

.details {
    margin-top: 45px;
    font-size: 20px;
    margin-bottom: 50px;
}

.get-started {
    margin: 0 auto;
    display: block;
    width: 261px;
    height: 55px;
    padding-top: 8px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    box-shadow: 0px 4px 13px #5d5454;
}

.partners {
    background-color: #fff;
}

.character {
    display: block;
    margin: 0 auto;
    width: 28%;
}

.partners {
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px 5px;
}

.partners a img {
    width: 24%;
}
.modal .modal-content{
    padding: 16px !important;
}
.modal-content h4{
    text-align: center;
    margin: 33px;
}
.modal-content button{
    float: right;
}
.input-field{
    display: block;
    width: 300px;
    margin: 25px auto;
}
@media screen and (max-width: 600px) {
    .nav a{
        display: block;
        width: auto;
        text-align: center;
        float: none;
    }
    .logoData{
        display: none !important;
    }
    .nav .right a{
        display: block;
        margin: 0 auto;
        float: none;
    }
    .character{
        width: 80%;
    }
    .short-desc{
        font-size: 25px;
    }
    .input-field{
        width: 100%;
        margin: 0;
    }
}
