<% if current_user.turnovers.count == 3 %>
<p> put your promocodes <%= link_to 'Here' , users_promo_url %> </p>
<% else %>
<%= render 'form', turnover: @turnover %>
<% end %>
<%= link_to 'Back', turnovers_path %>
