<div id="gtco-counter" class="gtco-section">
  <div class="gtco-container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
        <h2>Fun Facts</h2>
        <p>Some stats about our customers.</p>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-settings"></i>
          </span>
          <span class="counter js-counter" data-from="0" data-to="22070" data-speed="5000" data-refresh-interval="50">1</span>
          <span class="counter-label">Creativity Fuel</span>

        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-face-smile"></i>
          </span>
          <span class="counter js-counter" data-from="0" data-to="97" data-speed="5000" data-refresh-interval="50">1</span>
          <span class="counter-label">Happy Clients</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-briefcase"></i>
          </span>
          <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
          <span class="counter-label">Projects Done</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="feature-center">
          <span class="icon">
            <i class="ti-time"></i>
          </span>
          <span class="counter js-counter" data-from="0" data-to="212023" data-speed="5000" data-refresh-interval="50">1</span>
          <span class="counter-label">Hours Spent</span>

        </div>
      </div>

    </div>
  </div>
</div>
