
	<div id="gtco-features">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Turnover Features</h2>
					<p>Some features of the tool to be used by your company.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-shield"></i>
						</span>
						<h3>its tool very secure</h3>
						<p>Your data is protected and does not appear to anyone. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-money"></i>
						</span>
						<h3>Will save a lot of Money</h3>
						<p>The tool will protect you from significant losses in the cost of turnover</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-settings"></i>
						</span>
						<h3>It's More flexibility </h3>
						<p>It's too easy to use  </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="ti-timer"></i>
						</span>
						<h3>Save your time </h3>
						<p>Will not take a great time to calculate the cost of turnover </p>
					</div>
				</div>
			</div>
		</div>
	</div>
