<div class="gtco-loader"></div>

	<div id="page">
<%= render 'nav' %>
	<header id="gtco-header" class="gtco-cover gtco-cover-xs" role="banner" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc">
							<h1 class="animate-box" data-animate-effect="fadeInUp">About Us</h1>
						<!--	<h2 class="animate-box" data-animate-effect="fadeInUp">Free HTML5 Bootstrap Templates Made <em>by</em> <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a></h2>
					-->	</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="gtco-history" class="gtco-section border-bottom animate-box">
		<div class="gtco-container">

			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Company History</h2>
					<p>

الخلفية

يجري تنفيذ مشروع الوصول إلى سوق العمل (LMAP) بالنيابة عن الوزارة الاتحادية الألمانية للتعاون الاقتصادي والتنمية (BMZ) عن طريق التعاون الدولي الألمانى (GIZ) و يهدف هذا المشروع الي تحسين فرص العمل للشباب في مصر، لا سيما في المجال غير الأكاديمي، وذلك عن طريق إنشاء خدمات التوظيف التي تقدم التوجيه الوظيفي، ومطابقة الوظائف والتوظيف؛ وعن طريق تحسين جودة عملية التوظي. ويهدف مجال النشاط 2 من المشروع الي تحسين جودة الوظائف فى الشركات الصغيرة والمتوسطة وذلك بالتعاون مع اتحاد جمعيات التنمية الاقتصادية (FEDA).

أسباب تطوير الاداة الخاصة بحساب تكلفة دوران العمالة

تفتقد معظم الشركات الي المعلومات الخاصة بتكلفة دوران وتسرب العمالة مما يؤدي الي الاحجام في بعض الاحيان عن تنفيذ التدخلات الخاصة بالحفاظ علي العمالة نظرا لغياب الارقام التقريبية والتقديرية والتي من الممكن ان تحفز صاحب القرار بالشركة علي تحسين ظروف العمل وتقديم جودة افضل للوظائف المعروضة. والجديد في تنفيذ تلك الاداة هو حساب التكلفة الغير مباشرة بالاضافة الي التكلفة المباشرة بطبيعة الحال. حيث تعتبر االتكلفة الغير مباشرة هي من اكثر العوامل التي تؤدي الي ارتفاع تكلفة معدل تسرب العمالة والتي من ثم تؤثر بشكل مباشرعلي تكاليف العملية الانتاجية و بالتبعية علي معدل الربحية . ويهدف التعاون بين مشروع الوصول إلى سوق العمل (LMAP) ومشروع تعزيز حقوق العمال والقدرة التنافسية للصناعات التصديرية في مصر–منظمة العمل الدولية (ILO) الي تصميم اداة علمية ذات دقة تتراوح ما بين 75 - 80 % تقوم بحساب التكلفة المباشرة والتي لا تجد الشركات صعوبة في حسابها وأيضا التكاليف الغير مباشرة والتي تعتبر احد التحديات في مجال تطوير الاداء الخاص بنظم الموارد البشرية بالشركات.

والتي تتضمن بعض النقاط التالية:

- حساب التكلفة الفعلية لعملية تعيين العامل

- حساب التكلفة الفعلية لعملية تغطية تسرب العامل وتوزيع المهام علي عمال اخرين للحفاظ علي معدلات الانتاج

- تكلفة تعيين عامل اخرجديد

- تكلفة توعية وتدريب العامل الجديد

- تكلفة الانخفاض في معدلات الانتاج نتيجة فرق الخبرات بين العامل المتسرب والعامل الجديد حتي علي افتراض التساوي

في الخبرات. بالاضافة الي بعض التأثيرات الاخري والتي فد تختلف من صناعة لاخري.

تهدف هذه الاداة الي توفير مؤشر مالي واضح لاصحاب الاعمال حول تكلفة معدل تسرب العمالة يمكنهم من التحقق واتخاذ القرارات المتعلقة بالتدخلات الخاصة بتحسين بيئة العمل وأيضا لتحسين جودة الوظائف من خلال تطبيق الممارسات الصحيحة لتنمية وادارة استراتيجيات الموارد البشرية. </p>
				</div>
			</div>

      <%= render 'footer' %>
