body {
    margin: 0;
    padding: 0;
    font-family: lato;
    background-color: #F7F7F7;
}
/*7dr edit*/
button, input, optgroup, select, textarea {
      background: #0000;
      border: seagreen;

}
/*7dr edit*/

.step-title {
    font-size: 21px;
    line-height: 1;
    color: #333;
}

form {
    margin-left: 50px;
}
.input-field{
    margin-bottom: 10px;
}

.input-field.col label{
    color: #333333 !important;
    font-size: 18px;
    font-weight: 300
}
.input-field label:not(.label-icon).active{
    font-size: 18px;
    color: #26a69a !important;
    font-weight: 500;
}

.basic-data input{
    width: 86%;
}
.basic-data a{
    cursor: pointer;
}
.main-title {
    color: #333333;
}

.collapsible{
    box-shadow: none;
    border: none;
}

.collapsible-header{
    padding: 10px;
    background-color: inherit
}

.collapsible-header h5{
    margin-top: 0;
    font-size: 20px;
}
.collapsible-header i {
    font-size: 28px;
    line-height: 0.95;
}
.collapsible-body .title {
    font-size: 20px;
}

ul.stepper .step.active .step-title{
    font-weight: bold;
}

input {
    position: relative;
    font-size: 17px;
}

.eidt{

    background: inherit !important;
    border: none !important;
}
.input-field span {
    position: absolute;
    right: 15px;
    font-size: 13px;
    top: 27%;
    font-weight: bold;
}
