<!DOCTYPE html>
<html>
  <head>
    <title>Turnover</title>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'home/manifest.css', media: 'all', 'data-turbolinks-track': 'reload' %>

     <% if I18n.locale.to_s == "ar" %>

    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
     <% end %>

  </head>

  <body>
    <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

    <%= javascript_include_tag 'home/manifest.js', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
